{{/** 
  title : text
  layout :
    - 1-column
**/}}
<section id="text" class="py-8">
  <div class="container py-8 px-6 mx-auto">
    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-4xl mb-8" href="#">
     한국YWCA 100주년 기념 엠블럼
    </a>
    <br><br>
      <p class="mb-8 text-lg">한국YWCA100 주년 기념 엠블럼은<br>
      새로운 100년에 대한 전국 52개 회원YWCA 활동가 및 회원들의 의견을 바탕으로 탄생하였습니다.</p>
      <p class="mb-8 text-lg">숫자 100을 깃발과 배 모양으로 형상화하여<br>
      새로운 100년을 향해 힘차게 항해하는<br>
      YWCA의 역동성을 표현하였습니다.<br>
      상단 무지개는 희망과 다양성을 상징하며,<br>
      하단 물결에 창립 연도와 100주년 연도를 기입하여 YWCA가 걸어온 시간과 역사를 함축적으로 표현하였습니다.</p>
      <p class="mb-8 text-lg">메인 색상으로 사용된 파랑색은 YWCA를 표현하는 대표색으로<br>
      푸른 물결로 거대한 파도를 일으켜<br>
      세상을 바꾸자는 의미를 나타내고 있습니다.</p>
  </div>
  <div class="container px-5 py-24 mx-auto bg-gray-100">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/2 mb-5 px-4">
        <div class="rounded-lg h-full overflow-hidden">
          <img alt="100th-emblem" class="object-cover object-center" src="/img/100th-identity/100th-emblem.png">
        </div>
        <!-- <h2 class="title-font text-2xl font-medium text-gray-900 mb-3">Buy YouTube Videos</h2> -->
      </div>
      <div class="sm:w-1/2 mb-5 px-4">
        <div class="rounded-lg h-full overflow-hidden">
          <img alt="profile-blue" class="object-cover object-center" src="/img/100th-identity/profile-blue-lg.png">
        </div>
        <!-- <h2 class="title-font text-2xl font-medium text-gray-900 mb-3">The Catalyzer</h2> -->
      </div>
    </div>
  </div>
</section>