{{/** 
    title : banner
    layout :
      - business
  **/}}
<div class="bg-aa-gray-700 bg-no-repeat bg-cover bg-center" style="background-image: url('/img/1-91년 제1차 전체여학생대표회의-표지.jpg');">
  <div class="py-36">
    <div class="text-center">
      <h2 class="mb-8 text-4xl leading-none text-white">전국여대생대표자협의회 아카이브</h2>
      <h2 class="mb-8 text-4xl leading-none text-white">기억의 창고</h2>
      <div class="mx-auto mb-8 max-w-4xl text-base leading-7 text-white lg:text-lg">
        <p>이 디지털아카이브는 "전국여대생대표자협의회" 자료를 모아 만든 기억의 창고입니다.</p>
        <p>전국여대생대표자협의회는 1988년부터 2007년까지 전국의 대학내 여성주의 활동을 했던 여생학생 대표자 협의회 기구입니다.</p>
        <p>본 디지털아카이브는 서울시 성평등기금 후원을 받아 만들어졌습니다.</p>
      </div>
      <div class="flex flex-wrap justify-center gap-3">
        <a href="/document/">
          <button class="inline-flex rounded-full border-0 bg-blue-500 px-6 py-2 text-lg text-white hover:bg-blue-600 focus:outline-none">문서보기</button>
        </a>
        <a href="/inquiry/">
          <button class="inline-flex rounded-full border border-white px-6 py-2 text-lg text-white hover:bg-white hover:text-gray-900 focus:outline-none">메일 및 문의</button>
        </a>
      </div>
    </div>
  </div>
</div>
