{{ $isEn := eq site.Language.Lang "en" }}
<section class="tags container px-5 py-12 mx-auto">
	<div class="text-center w-full mt-4 px-8">
		<h2 class="text-xl text-blue-600 dark:text-blue-500 tracking-widest font-medium title-font mb-3">{{ T "home_axes_eyebrow" }}</h2>
		<h1 class="text-3xl md:text-4xl font-bold font-heading mb-3">{{ T "home_axes_title" }}</h1>
		<p class="lg:w-2/3 mx-auto leading-relaxed text-md mb-6">{{ T "home_axes_description" }}</p>
	</div>
	<ul>
		{{ range .Site.Taxonomies.sources }}
			<li class="inline-block my-2 px-6 py-2.5 bg-gray-900 text-gray-100 font-medium text-md leading-tight uppercase rounded-full shadow-md hover:bg-blue-600 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">
				<a href="{{ .Page.Permalink }}">
					{{ .Page.Title }}
				</a> {{ .Count }}</li>
		{{ end }}
	</ul>
</section>
