<section class="tags container px-5 py-12 mx-auto">
	<div class="text-center w-full mt-4 px-8">
		<h2 class="text-xl text-blue-600 dark:text-blue-500 tracking-widest font-medium title-font mb-3">탐색 축</h2>
		<h1 class="text-3xl md:text-4xl font-bold font-heading mb-3">생산조직별</h1>
		<p class="lg:w-2/3 mx-auto leading-relaxed text-md mb-6">현재 메타데이터에서 가장 안정적으로 작동하는 분류는 생산조직입니다. U.S. Army, NARA, 8th United States Army 같은 축을 따라가면 누가 어떤 행정 질서와 시선으로 용산을 기록했는지 확인할 수 있습니다.</p>
	</div>
	<ul>
		{{ range .Site.Taxonomies.sources }}
			<li class="inline-block my-2 px-6 py-2.5 bg-gray-900 text-gray-100 font-medium text-md leading-tight uppercase rounded-full shadow-md hover:bg-blue-600 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">
				<a href="{{ .Page.Permalink }}">
					{{ .Page.Title }}
				</a> {{ .Count }}</li>
		{{ end }}
	</ul>
</section>
