{{- $ctx := . -}}
{{- if reflect.IsMap . -}}
  {{- with .Page -}}
    {{- $ctx = . -}}
  {{- end -}}
{{- end -}}
{{- $logo := $ctx.Site.Params.logo -}}
{{- $title := $ctx.Site.Title -}}
{{- $homeURL := $ctx.Site.Home.RelPermalink -}}
<a class="facwa-header-logo" href="{{ $homeURL }}" aria-label="{{ $title }}">
  {{- if $logo -}}
    <img class="facwa-header-logo__image" src="{{ $logo | absURL }}" alt="{{ $title }}">
  {{- else -}}
    <span class="facwa-header-logo__wordmark" aria-label="{{ $title }}">
      <span class="facwa-header-logo__wordmark-brand">YongsanKim</span>
    </span>
  {{- end -}}
</a>
